@font-face {
    font-family: 'RobotoBold';
    src: url('fonts/Roboto-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'RobotoBoldItalic';
    src: url('fonts/Roboto-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'RobotoRegular';
    src: url('fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: 'RobotoBold';
    src: url('fonts/Roboto-Bold.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}


